---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { Image } from 'astro:assets';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="bg-white dark:bg-gray-900 transition-colors duration-200">
		<Header />
		<main class="w-full max-w-none m-0 dark:bg-gray-900">
			<article>
				<div class="hero-image w-full">
					{heroImage && <Image width={1020} height={510} src={heroImage} alt="" class="block mx-auto rounded-xl shadow-custom" />}
				</div>
				<div class="prose w-full max-w-3xl mx-auto p-4 text-gray-dark dark:text-gray-200">
					<div class="title mb-4 py-4 text-center leading-tight">
						<div class="date mb-2 text-gray dark:text-gray-400">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on italic">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="m-0 mb-2 text-black dark:text-white">{title}</h1>
						<hr class="border-0 border-t border-gray-light dark:border-gray-600" />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
